body{
    background: lightskyblue;
    margin: 10px;
}


#title{
    font-size: xx-large;
    background: darkorange;
    width: 250px;
    padding: 10px;
    color: whitesmoke;
    margin-bottom: 5px;

}

#gameInfo{
    font-size: large;
    background: wheat;
    color: green;
    padding:10px;
    width: 50%;
    margin-bottom: 5px;

}

#randomNumber {
    background: green;
    font-size: xx-large;
    float:left;
    width:100px;
    height:100px;
    padding:10px;
    margin-bottom: 5px;

}
#record{
    background: lightblue;
    padding:10px;
    width: 100px;
    height: 100px;
    float: left;
    margin-bottom: 5px;


}


#buttons{
    clear: both;
    margin-bottom: 5px;

}


button{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    display: inline-block;
}

#gem1{
    background: url("../images/amathyst.jpg")
}

#gem2{
    background: url("../images/garnet.jpeg")
}

#gem3{
    background: url("../images/sapphire.jpg")
}

#gem4{
    background: url("../images/tourmaline.jpg")
}

#scoreText{
    font-size: larger;
    padding: 10px;
    background: darkcyan;
    color: whitesmoke;
    width: 200px;
    margin-bottom: 5px;

}
#userScore{
    font-size: larger;
    padding: 10px;
    background: darkcyan;
    color: whitesmoke;
    width: 25%;
    margin-bottom: 5px;
    height: 150px;
    width: 200px;
    font-size: xx-large;

}

