body{
    background: lightskyblue;
}

#title{
    font-size: xx-large;
    background: orange;
    width: 250px;
    padding: 15px;
    color: whitesmoke;

}

#gameInfo{
    font-size: large;
    background: wheat;
    color: green;
    padding:10px;
    width: 50%
}



button{

    box-sizing: border-box;
    width: 200px;
    height: 200px;
    display: inline-block;
}

#gem1{
    background: url("../images/amathyst.jpg")
}

#gem2{
    background: url("../images/garnet.jpeg")
}

#gem3{
    background: url("../images/sapphire.jpg")
}

#gem4{
    background: url("../images/tourmaline.jpg")
}